# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. PyTorch

| Data Science Tools |
------------------------------
| RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shivaraj Shetty